[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
cors = "*"
flask-cors = "*"
pytest = "*"
pytest-cov = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
dev = "bash -c \"export FLASK_ENV='development' && flask run\""
test = "pytest ."
testc ='pytest --cov-report term-missing --cov=.'
